html {
    border: solid 2px pink;
    height: 100%;
    background-image: url("https://wallpapercave.com/wp/wp12500238.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
    

 
}

body {
    /* background-color: red; */
border: solid 2px purple;
height: 100%; 
margin: 0px;
display: flex;
justify-content: center;
align-items: center;
color: purple;
color: purple;
font-family: arial, sans-serif;
text-align: center;
}